@media (max-width:992px) {
  
    .header_nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__logo {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .project_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   
}
@media (max-width:640px){
    .main_bg {
        width: 100%;
        min-height: 800px;
        background-image: url(../img/IMAGE.png);
        background-repeat: no-repeat;
        background-position-x:-200px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_Content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_list{
        margin-top: 30px;
    }
}